@import "tailwindcss";

@font-face {
	font-family: "Roboto Flex";
	src: url(./assets/fonts/RobotoFlex.ttf);
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: normal;
}

@theme {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-gray-950: #0d0d00;
	--color-gray-900: #1a1a1a;
	--color-gray-800: #333333;
	--color-gray-700: #4d4d4d;
	--color-gray-600: #666666;
	--color-gray-500: #808080;
	--color-gray-400: #999999;
	--color-gray-300: #b3b3b3;
	--color-gray-200: #cccccc;
	--color-gray-100: #e6e6e6;
	--color-gray-50: #f2f2f2;
	--color-red-950: #0d0404;
	--color-red-900: #471515;
	--color-red-800: #752323;
	--color-red-700: #a33131;
	--color-red-600: #d13f3f;
	--color-red-500: #ff4c4c;
	--color-red-400: #ff6e6e;
	--color-red-300: #ff8f8f;
	--color-red-200: #ffb0b0;
	--color-red-100: #ffd9d9;
	--color-red-50: #fff2f2;
	--color-green-950: #040d06;
	--color-green-900: #14401d;
	--color-green-800: #216630;
	--color-green-700: #2e8c43;
	--color-green-600: #3db257;
	--color-green-500: #4dda6c;
	--color-green-400: #69e084;
	--color-green-300: #89e89e;
	--color-green-200: #aaf0b9;
	--color-green-100: #d9fae1;
	--color-green-50: #f2fff5;
	--color-blue-950: #04090d;
	--color-blue-900: #153047;
	--color-blue-800: #234f75;
	--color-blue-700: #316ea3;
	--color-blue-600: #3f8dd1;
	--color-blue-500: #4cacff;
	--color-blue-400: #6ebbff;
	--color-blue-300: #8fcbff;
	--color-blue-200: #b0daff;
	--color-blue-100: #d9eeff;
	--color-blue-50: #f2f9ff;
	--color-white-alpha-950: #ffffff;
	--color-white-alpha-900: #ffffffe6;
	--color-white-alpha-800: #ffffffcf;
	--color-white-alpha-700: #ffffffb5;
	--color-white-alpha-600: #ffffff9e;
	--color-white-alpha-500: #ffffff85;
	--color-white-alpha-400: #ffffff6e;
	--color-white-alpha-300: #ffffff54;
	--color-white-alpha-200: #ffffff3d;
	--color-white-alpha-100: #ffffff26;
	--color-white-alpha-50: #ffffff0d;
	--color-black-alpha-950: #000000;
	--color-black-alpha-900: #000000e6;
	--color-black-alpha-800: #000000cf;
	--color-black-alpha-700: #000000b5;
	--color-black-alpha-600: #0000009e;
	--color-black-alpha-500: #00000085;
	--color-black-alpha-400: #0000006e;
	--color-black-alpha-300: #00000054;
	--color-black-alpha-200: #0000003d;
	--color-black-alpha-100: #00000026;
	--color-black-alpha-50: #0000000d;
	--color-red-alpha-950: #ff4c4c;
	--color-red-alpha-900: #ff4c4ce6;
	--color-red-alpha-800: #ff4c4ccf;
	--color-red-alpha-700: #ff4c4cb5;
	--color-red-alpha-600: #ff4c4c9e;
	--color-red-alpha-500: #ff4c4c85;
	--color-red-alpha-400: #ff4c4c6e;
	--color-red-alpha-300: #ff4c4c54;
	--color-red-alpha-200: #ff4c4c3d;
	--color-red-alpha-100: #ff4c4c26;
	--color-red-alpha-50: #ff4c4c0d;
	--color-green-alpha-950: #4dda6e;
	--color-green-alpha-900: #4dda6ee6;
	--color-green-alpha-800: #4dda6ecf;
	--color-green-alpha-700: #4dda6eb5;
	--color-green-alpha-600: #4dda6e9e;
	--color-green-alpha-500: #4dda6e85;
	--color-green-alpha-400: #4dda6e6e;
	--color-green-alpha-300: #4dda6e54;
	--color-green-alpha-200: #4dda6e3d;
	--color-green-alpha-100: #4dda6e26;
	--color-green-alpha-50: #4dda6e0d;
	--color-blue-alpha-950: #4cacff;
	--color-blue-alpha-900: #4cacffe6;
	--color-blue-alpha-800: #4cacffcf;
	--color-blue-alpha-700: #4cacffb5;
	--color-blue-alpha-600: #4cacff9e;
	--color-blue-alpha-500: #4cacff85;
	--color-blue-alpha-400: #4cacff6e;
	--color-blue-alpha-300: #4cacff54;
	--color-blue-alpha-200: #4cacff3d;
	--color-blue-alpha-100: #4cacff26;
	--color-blue-alpha-50: #4cacff0d;
	--font-roboto-flex: "Roboto Flex";
	/*Timer*/
	--text-timer: 256px;
	--leading-timer: 70%;
	--font-weight-timer-paused: 200;
	--font-weight-timer-running: 800;
	/*Heading*/
	--text-heading-h1: 24px;
	--font-weight-heading-h1: 700;
	/*label*/
	--text-label: 24px;
	--font-weight-label: 500;
	/*text*/
	--text-text-regular: 16px;
	--font-weight-text-regular: 400;
	--text-text-small: 12px;
	--font-weight-text-small: 400;
}

.text-optical {
	font-variation-settings: "opsz" 20;
}
